/* app css stylesheet */

.menu {
    list-style: none;
    border-bottom: 0.1em solid black;
    margin-bottom: 2em;
    padding: 0 0 0.5em;
}

.menu:before {
    content: "[";
}

.menu:after {
    content: "]";
}

.menu > li {
    display: inline;
}

.menu > li:before {
    content: "|";
    padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
    content: "";
    padding: 0;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}
/********************************GOKU****************************************/
.intro-header {    
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    color: #f8f8f8;
    /* background: no-repeat center center; */    
}    
.intro-message {
    position: relative;
}
.intro-message > h1 {
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    color: #fff;
    font-size: 5em;
}
.intro-message > h3 {
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.6);
    color: #F0F0F0;
}
.goku-banner-casa {
    margin: 0 auto;
    background: url(../img/shadowsReverse.png) no-repeat center bottom #fff;
    padding: 0;
    color: #eee;    
}
#seccionVianda {
    padding: 10px 0 0 44px;
    margin-top: 20px;
}

.goku-menu img {
    display: inline-block;
    width: 400px;        
    margin-left: 15px;
}
.goku-menu .caption {
    display: inline-block;
    width: 400px;        
}
.goku-menu .thumbnail {
    padding-top: 15px;
    padding-bottom: 25px;
    margin-bottom: 10px;
}
.goku-thumbnail {
    position: relative;
    max-height: 400px;
    min-height: 400px;
    margin-bottom: 10px;    

}
.goku-thumbnail .caption, .goku-thumbnail img {
    cursor: pointer;    
}

.goku-thumbnail img {
    max-height: 173px;
}

.goku-thumbnail p {
   display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;         
  height: 60px;
  overflow: hidden;
}
    
.goku-thumbnail h3 {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;    
}

.goku-thumbnail .goku-botonera form {
    position: absolute;
    width: 100%;
    bottom: 0px;
    left: 30px;
}
.goku-carrito-botonera button {
    margin-left: 5px;
}

.goku-carrito-botonera .btn:first-child {
    margin-left: 30px;
}
/*
.goku-thumbnail .blockDtl img {    
    max-height: 173px; 
    width: auto;
}

.goku-thumbnail .thumbnail {
    height: 240px;
}

.goku-thumbnail h4 {
    position: absolute;
    width: 100%;
    bottom: 17px;
}

.goku-thumbnail .blockDtl {
    position: relative;
    height: 100%;    
    display: block;    
}

*/

#footerSection .container a img {
    width: 70px;
    vertical-align: middle;
    margin-left: 10px;
}