/* www.bootstrappage.com */
@font-face {
            font-family: 'HelveticaRegular';
            src: url('../fonts/helvetica___-webfont_latin.eot');
            src: url('../fonts/helvetica___-webfont_latin.eot?#iefix') format('embedded-opentype'),
                 url('../fonts/helvetica___-webfont_latin.ttf') format('truetype'),
                 url('../fonts/helvetica___-webfont_latin.svg#HelveticaRegular') format('svg');
            font-weight: normal;
            font-style: normal;
        }
        @font-face {
            font-family: 'HelveticaBold';
            src: url('../fonts/helvetica_bold___-webfont_latin.eot');
            src: url('../fonts/helvetica_bold___-webfont_latin.eot?#iefix') format('embedded-opentype'),
                 url('../fonts/helvetica_bold___-webfont_latin.ttf') format('truetype'),
                 url('../fonts/helvetica_bold___-webfont_latin.svg#HelveticaRegular') format('svg');
            font-weight: bold;
            font-style: normal;
        }
body{ padding:0; color: #454545; font-family: 'Open Sans', sans-serif;}
a,a:hover{text-decoration:none; color:#FE5214}
h2,h3{color:#FE5214; text-rendering: optimizelegibility; }
h1{padding: 0 0 44px; font-weight: 200;font-size: 54px;line-height: 56px;color: #464646;margin: 0;font-family: 'HelveticaRegular';text-rendering: optimizelegibility;}
h1.brand {padding: 0;height: 75px;padding-top: 75px;margin: -104px auto 0;width: 150px;background: rgb(255, 61, 0);border-radius: 50%;box-shadow: 0px 0px 4px #000;color: #fff;font-size: 41px;text-shadow: 1px 1px 0 #000;line-height: 81px;}
.clr{clear:both}
.cntr{text-align:center}
.navbar{margin-bottom:-1px; margin-top:8px; position:relative }
.navbar .nav, .navbar .nav > li{float:none; text-align:center}
.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus {color: #000;text-decoration: none;background-color: transparent; -webkit-box-shadow:  0 0 0;-moz-box-shadow:  0 0 0;box-shadow: 0 0 0;border-bottom: 2px solid #F83200;}
.nav li{display:inline-block; float:none;}
.nav a {padding: 3px 18px; text-transform: uppercase;font-size: 14px; display: inline-block; color:#222; font-family: 'HelveticaBold';}

#contactSection, #portfolioSection, #ourServices, #blogSection{padding:130px 0 44px; }
.txtR{text-align:right}
#blogSection{background: #e6e6e6;}
#ourServices{background: #e6e6e6;text-align: center;border-top: 1px solid #ddd;}
#ourServices .thumbnail{background:#fff;}
#ourServices .thumbnail:hover{color:#fff}

#headerSection {background: url(../img/shadow.png) no-repeat center bottom #EEE;border-bottom: 1px solid #dedede; padding: 8px 0 0;}
#welcomeSection{padding:44px 0}
#headerSection {border-bottom:1px solid #fff;position: fixed;top: 0;left: 0;display: inline-block;width: 100%;z-index: 1;transition: all 800ms;z-index: 9999;}
.blockDtl {text-align:center}
.blockDtl:hover{color:#FE5214}
#shadow{background:url(../img/shadow.png) no-repeat center bottom #fff; min-height:44px; padding:18px 0; text-align:center}

#carouselSection{ margin:0 auto; background:url(../img/shadowsReverse.png) no-repeat center bottom #fff; padding: 95px 0 31px; color:#eee;}
#carouselSection #myCarousel{margin-bottom:0}
#myCarousel .carousel .item {-webkit-transition: opacity 3s; -moz-transition: opacity 3s; -ms-transition: opacity 3s; -o-transition: opacity 3s; transition: opacity 3s;}
#myCarousel .carousel .active.left {left:0;opacity:0;z-index:2;}
#myCarousel .carousel .next {left:0;opacity:1;z-index:1;}
.carousel-caption, .carousel-control {display:none}

.inner{margin-bottom:38px;}
.blogBlk{background:#fff; display: block;padding: 28px;line-height: 1.6em;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;}


#footerSection{background:#e6e6e6; border-top:1px solid #fff; margin-top:100px; padding:18px 0 8px; }
#footerMenu a{padding:4px; color:#666;}
#footerMenu a:hover{color:#000; text-decoration:underline}

#footerSection, #headerSection {box-shadow: 0 0 14px rgba(36, 33, 33, 0.5);-webkit-box-shadow: 0 0 14px rgba(36, 33, 33, 0.5);-moz-box-shadow: 0 0 14px rgba(36, 33, 33, 0.5);}
#footerSection .container{position:relative; }
.socialMedia{height:100px; width:160px; margin-top:-50px; position:absolute; right:0; top:0;}
.socialMedia a:hover{z-index:999;}
.socialMedia a{border-radius:50%;}
.twitter{position:absolute; right:0; top:0; display:inline-block; height:100px; width:100px; background:url(../img/t.png) no-repeat center center #00a0d1; z-index:1}
.facebook{position:absolute; left:0; top:0; display:inline-block; height:100px; width:100px; background:url(../img/f.png) no-repeat center center #3b5998; z-index:2}


.go-top {
display: inline-block;
position: fixed;
bottom: 8px;
right: 30px;
padding: 0px 10px 5px;
color: #999;
text-decoration: none;
font-size: 30px;
line-height: 34px;
}
.go-top:hover {
color: #fff;
text-decoration: none;
background-color: #000000;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
border-radius: 10px;
}


#headerSection .btn.btn-navbar {
width: 100%;
text-align: center;
border: 0;
margin: 0;
border-radius: 0;
}
#headerSection  .navbar .btn-navbar .icon-bar {
width: 100%;
height: 2px;
}
.blockDtl{background:#fff}





@media (max-width: 600px){
#headerSection .btn.btn-navbar {
display: block;}

.nav-collapse .nav>li {
float: none;
display: block;
text-align: left;
}
.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus {
color: #FC3C00;
border-bottom: 0;
}
}