#sidebar > ul > li > ul.sub {
    display: block;
}

.click-over {
    cursor:pointer;
}

.cartel-error-admin h1 {
    font-size: 8em;
}

.cartel-error-admin p {
    font-size: 2em;
}

.texto-limitado {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}