.cb-carrito-form input.form-control {
    height: 50px;
    vertical-align: bottom;
}

.cb-button button {
    padding: 10px 40px;
}
.cb-button-pedir {
    margin-top: 0;
    margin-bottom: 20px;   
}
.cb-resaltar {
    color: #01aaae;
}
.cb-eliminar-button {
    color: red;
    cursor: pointer;
}


.special-tab ul.cb-special-tabs-titles {
    padding: 0;
    margin: 0; 
    height: 94px;
    border-bottom: 1px solid #f0f3f5;
    margin-bottom: 60px;
}
.special-tab .cb-special-tabs-titles li {
    float: left;
    list-style-type: none;
    text-align: center;
    width: 10%;
    color: #575a5c;
    padding: 12px 0;
    font-size: 15px;
    display: block;    
    cursor: pointer;
}
.special-tab .cb-special-tabs-titles li.current {
    padding: 12px 0;
    position: relative;
    top: 1px;
    color: #575a5c;
    background-color: #f0f3f5;
}
.special-tab .special-tab-content {
    padding: 0;
    clear: both;
}
.special-tab .cb-special-tabs-titles .food-icon-Carnes,
.special-tab .cb-special-tabs-titles .food-icon-Otros,
.special-tab .cb-special-tabs-titles .food-icon-Meriendas,
.special-tab .cb-special-tabs-titles .food-icon-4,
.special-tab .cb-special-tabs-titles .food-icon-5,
.special-tab .cb-special-tabs-titles .food-icon-Tartas,
.special-tab .cb-special-tabs-titles .food-icon-Pollos,
.special-tab .cb-special-tabs-titles .food-icon-Pescados,
.special-tab .cb-special-tabs-titles .food-icon-Pastas,
.special-tab .cb-special-tabs-titles .food-icon-10,
.special-tab .cb-special-tabs-titles .food-icon-Vegetarianas {
    background-image: url(../images/food_icons.png);
    height: 36px;
    width: 36px;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    -ms-transition: all ease 0.5s;
    transition: all ease 0.5s;
    margin: 0 auto;
    margin-bottom: 5px;
}
.special-tab .cb-special-tabs-titles .food-icon-Carnes {
    background-position: 0 0;
}
.special-tab .cb-special-tabs-titles .food-icon-Otros {
    background-position: 36px 0;
}
.special-tab .cb-special-tabs-titles .food-icon-Meriendas {
    background-position: 72px 0;
}
.special-tab .cb-special-tabs-titles .food-icon-4 {
    background-position: 108px 0;
}
.special-tab .cb-special-tabs-titles .food-icon-5 {
    background-position: 144px 0;
}
.special-tab .cb-special-tabs-titles .food-icon-Tartas {
    background-position: 180px 0;
}
.special-tab .cb-special-tabs-titles .food-icon-Pollos {
    background-position: 216px 0;
}
.special-tab .cb-special-tabs-titles .food-icon-Pescados {
    background-position: 252px 0;
}
.special-tab .cb-special-tabs-titles .food-icon-Pastas {
    background-position: 288px 0;
}
.special-tab .cb-special-tabs-titles .food-icon-10 {
    background-position: 324px 0;
}
.special-tab .cb-special-tabs-titles .food-icon-Vegetarianas {
    background-position: 360px 0;
}
.special-tab .cb-special-tabs-titles li:hover .food-icon-Carnes,
.special-tab .cb-special-tabs-titles .current .food-icon-Carnes {
    background-position: 0 -36px;
}
.special-tab .cb-special-tabs-titles li:hover .food-icon-Otros,
.special-tab .cb-special-tabs-titles .current .food-icon-Otros {
    background-position: 36px -36px;
}
.special-tab .cb-special-tabs-titles li:hover .food-icon-Meriendas,
.special-tab .cb-special-tabs-titles .current .food-icon-Meriendas {
    background-position: 72px -36px;
}
.special-tab .cb-special-tabs-titles li:hover .food-icon-4,
.special-tab .cb-special-tabs-titles .current .food-icon-4 {
    background-position: 108px -36px;
}
.special-tab .cb-special-tabs-titles li:hover .food-icon-5,
.special-tab .cb-special-tabs-titles .current .food-icon-5 {
    background-position: 144px -36px;
}
.special-tab .cb-special-tabs-titles li:hover .food-icon-Tartas,
.special-tab .cb-special-tabs-titles .current .food-icon-Tartas {
    background-position: 180px -36px;
}
.special-tab .cb-special-tabs-titles li:hover .food-icon-Pollos,
.special-tab .cb-special-tabs-titles .current .food-icon-Pollos {
    background-position: 216px -36px;
}
.special-tab .cb-special-tabs-titles li:hover .food-icon-Pescados,
.special-tab .cb-special-tabs-titles .current .food-icon-Pescados {
    background-position: 252px -36px;
}
.special-tab .cb-special-tabs-titles li:hover .food-icon-Pastas,
.special-tab .cb-special-tabs-titles .current .food-icon-Pastas {
    background-position: 288px -36px;
}
.special-tab .cb-special-tabs-titles li:hover .food-icon-10,
.special-tab .cb-special-tabs-titles .current .food-icon-10 {
    background-position: 324px -36px;
}
.special-tab .cb-special-tabs-titles li:hover .food-icon-Vegetarianas,
.special-tab .cb-special-tabs-titles .current .food-icon-Vegetarianas {
    background-position: 360px -36px;
}