/*!
 * Start Bootstrap - Heroic Features HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

body {
    //padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

.hero-spacer {
    margin-top: 50px;
}

.hero-feature {
    margin-bottom: 30px;
}

footer {
    //margin: 50px 0;
}

/* Tomado de clean-blog */
.intro-header {
    background-color: gray;
    background: no-repeat center center;
    background-attachment: scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    margin-bottom: 30px;
}
.intro-header .site-heading, .intro-header .page-heading {
    text-align: center;
}

.intro-header .site-heading, .intro-header .post-heading, .intro-header .page-heading {
    padding: 100px 0 50px;
    color: #fff;
}

@media only screen and (min-width: 768px) {
    .intro-header .site-heading, .intro-header .post-heading, .intro-header .page-heading {
        padding: 150px 0;
    }
    .intro-header .site-heading h1, .intro-header .page-heading h1 {
        font-size: 80px;
    }
}
.intro-header .site-heading, .intro-header .post-heading, .intro-header .page-heading {
    padding: 80px 0 50px;
    color: #fff;
}

h1, h2 {
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-weight: 800;
}

hr.small {
    max-width: 100px;
    margin: 15px auto;
    border-width: 4px;
    border-color: #fff;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.4);
}
.intro-header .site-heading .subheading, .intro-header .page-heading .subheading {
    font-size: 24px;
    line-height: 1.1;
    display:block;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-weight: 300;
    margin: 10px 0 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
}

footer {
    padding: 30px 0;
    background-color: #f8f8f8;
}

.hero-feature .thumbnail h3 {
    font-size: 16px;
}

.hero-feature .thumbnail h3,
.hero-feature .thumbnail p {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.cec-pointer {
    cursor: pointer;
}

.nav-tabs>li {
    cursor: pointer;
}